/*
zeroUI 
ui library for my userstyles

license: MIT
author: woidzero
github: https://github.com/woidzero/zeroUI
version: 1.0.0
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --box-0: #090909;
  --box-1: #0e0e0e;
  --box-2: #151515;
  --box-3: #151515;
  --box-4: #1a1a1a;
  --box-5: #2a2a2a;
  --box-6: #3d3d3d;
  --box-7: #4f4f4f;
  --box-8: #666666;

  --box-info: #2292d229;
  --box-info-border: #4794bb;

  --box-error: #d2222229;
  --box-error-border: #bb4747;

  --box-success: #22d23129;
  --box-success-border: #47bb4b;

  --box-warn: #d2b22229;
  --box-warn-border: #dfbe55;

  --br-4: 4px;
  --br-8: 8px;
  --br-16: 16px;
  --br-24: 24px;

  --text: #eee;
  --text-sub: #848484;
  --text-link: #c2c2c2;

  --font: "Inter", sans-serif;
}

html,
body {
  scrollbar-color: var(--scrollbar-track) var(--scrollbar-thumb) !important;
  scrollbar-width: thin !important;
}

*,
*::after,
*::before {
  box-sizing: border-box !important;
  transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out,
    0.3s border ease-in-out, 0.3s display ease-in-out !important;
}
